div.addresses {
   position:relative;
   padding:20px;
   border:1px solid #e7e7e7;
   background:#fff;
   -moz-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.05);-webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.05);box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.05);
   border-radius:5px;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}

ul.address {
   list-style-type:none;
   float:left;
   position:relative;
   border:1px solid #e7e7e7;
   border-radius:5px;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -moz-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.05);-webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.05);box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.05);
   width:345px !important;
   padding-bottom:20px;
}
#address_delivery {margin-right:35px;}
#address_invoice {margin-right:0}
#delivery_address {margin-right:65px;}

ul.address li {
	padding:0 20px;
	text-transform:uppercase
}

ul.address li.address_title {
	border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;
   background:#fafafa;border-bottom:1px solid #e7e7e7;font-size:14px;font-weight:700;padding:18px 30px;
   margin-bottom:20px;
}

ul.address li.address_firstname,
ul.address li.address_company {
	margin-top:8px
}

ul.address  li.address_update {
	margin-top:20px
}
ul.address  li.address_update,
ul.address li.address_delete {
	font-size:11px;
   text-transform:none
}

.address_add {
   padding:10px 0 25px 0 !important;
}

.address_select {
	margin-left: 10px;
	min-width:150px;
}

.addressesAreEquals label {
	margin-left: 5px;
}


/* PAGE ADRESSES ******************************************************************************* */
.addresses ul.address {
   list-style-type:none;
   float:left;
   position:relative;
	margin:10px 30px 20px 0;
   width:345px !important
}
.addresses ul.address.alternate_item,
.addresses ul.address.last_item {margin-right:0}

.addresses ul.address .address_update {margin-top:20px}
.addresses ul.address .address_update,
.addresses ul.address .address_delete {
	font-size:11px;
   text-transform:none
}

