a:hover, header .top .top-right #cart_block .content ul.items-in-shopping-cart li .price, header .top .top-right #cart_block .content ul.items-in-shopping-cart li .price, header .top .top-right .language-currency .switcher .option ul li a:hover, .navigation_container nav > ul > li:hover > a, .navigation_container nav > ul > li > .sub-menu > ul > li:hover > a, .navigation_container nav > ul > li > .sub-menu > ul > li > .sub-menu a:hover, .navigation_container nav > ul > li > .sub-menu > ul > li > .sub-menu a:hover, .products-grid > div .price, ul.tweet_list li .tweet_text a, header .top .top-right #cart_block .content .saldo-action .saldo ul li span { color:#f7871a; }
header .top .top-right #cart_block .block_content .products dt .remove_link a:hover, .cart_delete a.cart_quantity_delete:hover, a.price_discount_delete:hover, div.notification .close:hover { background-color:#f7871a; }

header .top .top-right #cart_block .block_content, header .top .top-right .language-currency .switcher .option ul, .navigation_container nav > ul > li > .sub-menu { border-top:5px solid #f7871a; }
.navigation_container nav > ul > li > .sub-menu .sub-menu { border-left:5px solid #f7871a; }
.ac_results, .product-info .custom-block-product { border-top:5px solid #f7871a !important; }

/* Header -> Top -> Top Right -> Wishlist */

header .top .top-right .wishlist { background-color:#f7c61a; }
header .top .top-right .wishlist:hover { background-color:#fbcd2c; }

/* Header -> Top -> Top Right -> Cart */

header .top .top-right #cart_block { background-color:#f7871a; }
header .top .top-right #cart_block:hover { background-color:#fb9633; }

/* Navigation -> Search */

.navigation_container .search input.enterkey:focus { border:1px solid #f7871a; }

.button, .button-slider, input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled, input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled { background:#6e2911; }
.button:hover, .button-slider:hover, .button:hover, input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover,
a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover, input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover { background:#82371d; }
.button-two, .button-slider2, .button_large { background:#f7c61a !important; }
.button-two:hover, .button-slider2:hover, .button_large:hover { background:#f7ca2c !important; }

/* Product hover */

.products-grid > div:hover { border:1px solid #f7871a; }

/* Add to Cart */

.products-grid > div .on-hover .add-to-cart { background-color:#f7871a; }
.products-grid > div .on-hover .add-to-cart:hover { background-color:#fb9633; }

.products-grid > div .sale, .product-list > div .sale { background:#f7871a; }
div.notification { border-top:5px solid #f7871a; }
div.notification b { color:#f7871a; }
#categories_block_left li a.selected { color:#f7871a; }
.product-info .right .price p { color:#f7871a; }
input[type=text]:focus, input[type=password]:focus, textarea:focus { border:1px solid #f7871a; }
.ac_over { background-color:#f7871a !important; }
.product-info .right .add-to-cart { background-color:#f7871a !important; }
.product-info .right .add-to-cart:hover { background-color:#fb9633 !important; }
.box-category ul li a.active { color:#f7871a; }
.product-list > div:hover { border:1px solid #f7871a; }
.product-list > div .price { color:#f7871a; }
.product-list > div .cart a { background-color:#f7871a; }
.product-list > div .cart a:hover { background-color:#fb9633; }
header .top .top-right #cart_block .block_content .products dt .price, header .top .top-right #cart_block .block_content .saldo-action .saldo ul li span, ul.step li.step_current span { color:#f7871a; }
