<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockblog</name>
            <displayName><![CDATA[Blog for PrestaShop]]></displayName>
            <version><![CDATA[1.6.9]]></version>
            <description><![CDATA[Add Blog for PrestaShop]]></description>
            <author><![CDATA[storemodules]]></author>
            <tab><![CDATA[Blog for PrestaShop]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>