a:hover, header .top .top-right #cart_block .content ul.items-in-shopping-cart li .price, header .top .top-right #cart_block .content ul.items-in-shopping-cart li .price, header .top .top-right .language-currency .switcher .option ul li a:hover, .navigation_container nav > ul > li:hover > a, .navigation_container nav > ul > li > .sub-menu > ul > li:hover > a, .navigation_container nav > ul > li > .sub-menu > ul > li > .sub-menu a:hover, .navigation_container nav > ul > li > .sub-menu > ul > li > .sub-menu a:hover, .products-grid > div .price, header .top .top-right #cart_block .content .saldo-action .saldo ul li span { color:#6f9508; }
header .top .top-right #cart_block .block_content .products dt .remove_link a:hover, .cart_delete a.cart_quantity_delete:hover, a.price_discount_delete:hover, div.notification .close:hover { background-color:#6f9509; }
ul.tweet_list li .tweet_text a { color:#6f9509; }

header .top .top-right #cart_block .block_content, header .top .top-right .language-currency .switcher .option ul, .navigation_container nav > ul > li > .sub-menu { border-top:5px solid #6f9509; }
.navigation_container nav > ul > li > .sub-menu .sub-menu { border-left:5px solid #6f9509; }
.ac_results, .product-info .custom-block-product { border-top:5px solid #6f9509 !important; }

/* Header -> Top -> Top Right -> Wishlist */

header .top .top-right .wishlist { background-color:#bc2f36; }
header .top .top-right .wishlist:hover { background-color:#cf3f46; }

/* Header -> Top -> Top Right -> Cart */

header .top .top-right #cart_block { background-color:#6f9509; }
header .top .top-right #cart_block:hover { background-color:#7ea70f; }

/* Navigation -> Search */

.navigation_container .search input.enterkey:focus { border:1px solid #6f9509; }

.button-slider { background:#bc2f36 !important; }
.button-slider:hover { background:#cf3f46 !important; }
.button-slider2 { background:#6f9509 !important; }
.button-slider2:hover { background:#7ea70f !important; }

.button, input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled, input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled { background:#6f9509; }
.button:hover, .button:hover, input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover,
a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover, input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover { background:#7ea70f; }
.button-two, .button_large { background:#bc2f36 !important; }
.button-two:hover, .button_large:hover { background:#cf3f46 !important; }

/* Product hover */

.products-grid > div:hover { border:1px solid #6f9509; }

/* Add to Cart */

.products-grid > div .on-hover .add-to-cart { background-color:#6f9509; }
.products-grid > div .on-hover .add-to-cart:hover { background-color:#7ea70f; }

/* Footer -> Custom Footer */

footer #custom-footer { background:#eff8d6; }
footer #custom-footer > div > div > div h3 { color:#6f9509; }

/* Footer -> Custom Footer -> About us */

footer #custom-footer > div > div > div h3.about-us { background:url(../img/color_4/icon-about-us.png) 0px 9px no-repeat; }

/* Footer -> Custom Footer -> Contact */

footer #custom-footer > div > div > div h3.contact { background:url(../img/color_4/icon-contact.png) 0px 13px no-repeat; }

/* Footer -> Custom Footer -> Twitter */

footer #custom-footer > div > div > div h3.twitter { background:url(../img/color_4/icon-twitter.png) 0px 9px no-repeat; }

/* Footer -> Custom Footer -> Facebook */

footer #custom-footer > div > div > div h3.facebook { background:url(../img/color_4/icon-facebook.png) 0px 9px no-repeat; }

/* NAVIGATION */

.navigation_container { background:#6f9509;border-top:1px solid #648608; }
.navigation_container nav > ul > li > a { color:#fff; }
.navigation_container nav > ul > li:hover > a { color:#fff; }
.navigation_container nav > ul > li > a.home { background:url(../img/color_4/home.png) 5px 23px no-repeat; }

/* Mobile Navigation */

.mobile-navigation .click-menu { background:url(../img/color_4/home.png) 20px 23px no-repeat;color:#fff; }
.mobile-navigation .click-menu:hover { background-color:#89b417; }
.mobile-navigation .categories-mobile-links ul li { border-top:1px solid #648608; }
.mobile-navigation .categories-mobile-links > ul > li > a { color:#fff; }
.mobile-navigation .categories-mobile-links > ul > li > ul > li > a { color:#fff; }

/* Content -> Banners */

.bg-banners { background:#eff8d6; }


.products-grid > div .sale, .product-list > div .sale { background:#6f9508; }
div.notification { border-top:5px solid #6f9508; }
div.notification b { color:#6f9508; }
#categories_block_left li a.selected { color:#6f9508; }
#page-title { background:#eff8d6; }
.product-info .right .price p { color:#6f9508; }
input[type=text]:focus, input[type=password]:focus, textarea:focus { border:1px solid #6f9508; }
.ac_over { background-color:#6f9508 !important; }
.product-info .right .add-to-cart { background-color:#6f9508 !important; }
.product-info .right .add-to-cart:hover { background-color:#7ea70f !important; }
.box-category ul li a.active { color:#6f9508; }
.product-list > div:hover { border:1px solid #6f9508; }
.product-list > div .price { color:#6f9508; }
.product-list > div .cart a { background-color:#6f9508; }
.product-list > div .cart a:hover { background-color:#7ea70f; }
header .top .top-right #cart_block .block_content .products dt .price, header .top .top-right #cart_block .block_content .saldo-action .saldo ul li span, ul.step li.step_current span { color:#6f9508; }

