<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>Seo Search Pages</name>
            <displayName><![CDATA[SEO Search Pages]]></displayName>
            <version><![CDATA[1.1]]></version>
            <description><![CDATA[You can create landing pages for search terms]]></description>
            <author><![CDATA[dh42]]></author>
            <tab><![CDATA[seo]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>