<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockcustomfooter</name>
            <displayName><![CDATA[Custom footer]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Displays panels in the footer.]]></description>
            <author><![CDATA[tiquet]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>